---
title: About

layout: layout
---
    
<section class='ma5'>

  <div class='f1 georgia'>About</div>

  <div class='f3 georgia mt3 pr3'>
    I am a web & software developer.
  </div>
  <div class='f3 georgia mt3 pr3'>
    I live in Norman Oklahoma with my wife and daughter.
  </div>
  <div class='f3 georgia mt5'>
    <a href='/' class='black hover-gray'><- back</a>
  </div>

</section>